
#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

body {
  background-color: #f8f9fa;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}
